# PORT number
PORT=3000

# URL of the Mongo DB
MONGODB_URI=mongodb+srv://admin:admin123456@cluster0.nz97m.mongodb.net/OnlineAcademy

# JWT
# JWT secret key
JWT_SECRET=secret_cat
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30

# OTP
# OTP duration in minute
DURATION_IN_MINUTE=1

# NODEMAILER 
# Nodemailer email
NODEMAILER_EMAIL=hominhtuan.181199@gmail.com
# Nodemailer client id
NODEMAILER_CLIENT_ID=813648540879-5rbj1lsabv10eovad7e6fqrtr6rvm903.apps.googleusercontent.com
# Nodemailer secret
NODEMAILER_SECRET=01CnH77y5Uu_fXK3bQf0jW42
# Nodemailer rfTokenc
NODEMAILER_RFTOKEN=1//04kVvH3ItJDXECgYIARAAGAQSNwF-L9IrBOWDHFoAnv_Rz-zkgpIASOF8qImK2lE3_LUZ_Muf1kz7HKooo2qt-ohmAz_OLdNkh60
